#text {
    text-decoration: inherit;
    font-family: Inter, sans-serif !important;;
    font-weight: bold !important;;
    color: #374151 !important;
}

.custom-banner-text {
    font-size: 3rem;
    font-weight: normal;
    text-align: center;
    padding-bottom: 10px;
}

.about-container {
    text-align: left;
    padding: 40px;
    font-weight: 600;
    font-family: Arial;
}

@media only screen and (max-width: 1248px) {

    .custom-banner-text {
        text-align: center;
        font-size: 1.8rem;
        margin-bottom: 15px;
        line-height: 2.25rem;
        padding: 0px;
        font-family: Arial;

    }
}