#text {
    text-decoration: inherit;
    font-family: Inter, sans-serif !important;;
    font-weight: bold !important;;
    color: #374151 !important;
}

.custom-banner-text {
    width: 100%;
    position: relative !important;
    top: 50px;
    left: 116px !important;
    padding-bottom: 10px;
    font-size: -webkit-xxx-large;
    /* font-family: emoji!important; */
}

.about-container {
    text-align: left;
    padding: 40px;
    font-weight: 600;
    font-family: Arial;
}

@media only screen and (max-width: 1248px) {

    .custom-banner-text {
        text-align: center;
        font-size: 1.8rem;
        margin-bottom: 15px;
        line-height: 2.25rem;
        padding: 0px;
        font-family: Arial;

    }
}